*{
  margin:0;
  padding: 0;
}

body{
  background-color: #18191a;
}

.navbar{

  display: flex;
  justify-content: space-between;
  background-color: #242526;
  height: 56px;
}

.part1{
  display: flex;
  padding-top: 7px;

}




.part1 img{
  width: 40px;
  height:39px;
padding-right: 7px;
margin-left: 10px;
}

.part1 input{
  background-color: #3A3B3C;
  width: 240px;
  height: 40px;
  border-radius: 70px;
  border: 1px solid #3A3B3C;


}
.part1 input::placeholder{
  color: #B0B3B8;
  font-family:'FontAwesome', sans-serif;
  font-size: 14px;

}
.part2 ul{
  list-style-type: none;
  display: flex;
}
.part2 ul li{
  color: #a1a4a9;
  font-size: 26px;
  width: 110px;
  text-align: center;
  padding:8px;
  padding-top:5px;
  border-top: 10px solid #242526;
  display: flex;
  flex-direction: column;
  align-items: center;

}




.part2 ul li:hover {
  background-color: #3a3b3c;
  color:#2374e1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 5px solid blue;

}


.under {
  position: absolute;
  color: black;
  background-color: #E4E6EB;
  visibility:hidden;
  padding: 10px;
  font-size: 14px;
  font-family: arial;
  border-radius: 5px;
  margin-top: 45px;
}


.part2 ul li:hover>.under{
  visibility: visible;
}



.part3{
  display: flex;

}

.part3 img{
  width:35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 8px;

}
.part3 p{
  color: #E4E6EB;
  padding-left: 10px;
  font-size: 14px;
  font-family:sans-serif;
  font-weight: bolder;
  margin-top:20px;
  padding-right: 20px;
}
.part3 ul{
  list-style: none;
  display: flex;
  padding-top: 15px;

}
.part3 ul li {
  font-size: 23px;
  color: #e4e6eb;
  padding-right: 20px;
}

.all{
  display: grid;
  grid-template-columns: 22% 56% 22%;
  grid-template-areas: "left middle right"

}
.right {
  grid-area: right;
  height: 100vh;
  overflow: hidden;
}

.right:hover{
  overflow-y: auto;
}


.left{
  grid-area: left;
overflow: hidden;
height: 100vh;
}
.left:hover{
  overflow-y: auto;
}
.middle{
  grid-area: middle;
overflow: auto;
height: 100vh;
}

.middle::-webkit-scrollbar{
  display: none;

}

.left{
  padding-top: 15px;
  margin-left: 10px;
}

.left ul{
  list-style: none;

}
.left ul li img{
  width: 30px;
  height: 30px;
  border-radius: 50%;



}
.lst1 ul li{
  display: flex;
  align-items: center;
}
.lst1 ul li img{
  margin-right: 10px;
}
.lst1 ul li {
  color:#e4e6eb;
  font-weight: bolder;
  font-size: 15px;
  font-family: arial;
  display: flex;
  padding: 10px 10px 10px 7px;
}
.lst1 ul li:hover{
  background-color: #3a3b3c;
}

.p{
  padding-top: 10px;
  padding-left: 8px;
}
#arrow{
  font-size: 22px;
  padding-left: 5px;
  padding-right: 25px;
}
hr{
  border: 1px solid #3e4042;
  background-color: #3e4042;
}

.s-title{
  color: #9a9da1;
  font-size: 18px;
  font-family: arial;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.s-title h5{
  visibility: hidden;
  color: #4599ff;
  font-family: arial;
  font-weight: lighter;
}
.section1:hover > .s-title h5{
  visibility: visible;
}

.events ul li img{
    border-radius: 3px;
    padding-right: 15px;
}
.events ul li {
  color:#e4e6eb;
  font-weight: bolder;
  font-size: 15px;
  font-family: arial;
  display: flex;
  padding: 10px 10px 10px 7px;
}
.events ul li:hover{
  background-color: #3a3b3c;
}
.terms ul li a{
  text-decoration: none;
  color: #9a9da1;
  padding-right: 5px;
  font-family: arial;
  font-size: 12px;
}
.terms ul li a:hover{
  text-decoration:underline;


}
.terms ul {
  display: flex;
  flex-wrap: wrap;
}


.box0{
  background-color: #242526;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}
.birth{
  display: flex;
  align-items: center;
}

.birth img{
  width:25px ;
  height: 25px;
  padding-right: 15px;
}

.birth h4{
  font-family:arial ;
  color: #e4e6eb;
}

.names{
  margin-top: 15px;
}
.names h5{
font-size: 15px;
font-family: arial;
padding: 12px;
color: #e4e6eb;
font-weight: lighter;
}

.names h5:hover{
  background-color: #3a3b3c;
  border-radius: 10px;
}
.sponsor{
  display: flex;
  align-items: center;
  padding: 8px;


}
.sponsor img{
  width: 131px;
  height: 131px;
  border-radius: 9px;

}
.desc h4{
  color: #e4e6eb;
  font-family: arial;
  padding-left: 20px;
  font-size: 18px;

}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.desc h6 {
  color: #9a9da1;
  font-family: arial;
  padding-left: 20px;
}
.title{
  color: #9a9da1;
  font-size: 18px;
  font-family: arial;
  margin-top: 30px;
  margin-bottom: 10px;
}
.sponsor:hover{
    background-color: #3a3b3c;
    border-radius: 10px;
}
.box2 img{
  height: 68px;

}
.box2{
  margin-bottom: 15px;
}


.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icn ul{
  display: flex;

}
.icn ul li{
  list-style: none;
  color:  #9a9da1;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}
.bar h4{
  margin-top: 15px;

}
.friend_list ul{
  list-style: none;

}
.friend_list ul li img{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 15px;
}
.friend_list ul li{
  color:  #e4e6eb;
  display: flex;
  align-items: center;
  font-family: arial;
  padding: 10px;
  font-weight: 500;
}

.friend_list ul li:hover{
  background-color: #3a3b3c;
}

#plus{
  margin-right: 20px;
  color: #e4e6eb;
  margin-left: 5px;

}
.request{
  margin-top: 35px;
  background-color:#242526;
  padding:20px 20px 10px 15px;
  border-radius: 10px;
}


.inside{
  display: flex;
  align-items: center;
padding-left: 5px;
padding-bottom: 10px
}

.inside:hover{
  background-color: #3a3b3c;
  border-radius: 10px;
}


.inside img{
  margin-right: 10px;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
.inside2{
  display: flex;
  flex-direction: column;
margin-top: 15px;
}
.inside2 h4{
  font-family:arial ;
  color: #e4e6eb;
}
.inside h5{
  color:#9a9da1;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 7px;
  padding-bottom: 7px;
}

.buttons input{
  width: 90px;
  color: #e4e6eb;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}

.button1{
  background-color: #0572e6;
  border: 1px solid #0572e6;
  margin-right: 10px
}
.button1:hover{
  background-color: #046ddd
}
.button2:hover{
  background-color:#171718;
}
.button2{
background-color:#272829;
border: 1px solid #272829;
}

.stories ul li img{
  height: 198px;
  width:111px;
  border-radius:10px;
  margin-right: 8px;
}
.stories ul li{
  height: 220px;
}

.stories ul{
  display: flex;
  margin-top: 50px;
  list-style: none;
  margin-left: 15%;
  margin-right: 15%;
}

.storie_name{
  position :relative;
  color:#e4e6eb;
  font-size: 15px;
  font-weight: 700;
  top: -30px;
  font-family: arial;
  margin-left: 10px;
}
#me img{
  height: 150px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
#me{
  background-color: #242526;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: fit-content;
}

#pls{
  position: relative;
  top: -25px;
  margin-left: 40px;

}

#small{
  height: 35px;
  width:35px;
  border:4px solid #2e89ff;
  border-radius: 50%;
  position: relative;
  top :-210px;
  margin-left: 10px;

}
.post{
  background-color: #242526;
  padding: 10px;

  width: fit-content;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 8px;

}


.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.line1 input:hover{
  background-color:#535556;
}
.line1 img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.line1 input{
  width: 520px;
  height: 40px;
  background-color: #3a3b3c;
  border-radius: 15px;
  border: 1px solid #3a3b3c;
}

.line1 input::placeholder{
  font-size: 15px;
  color: #B0B3B8;
  font-family: arial;
  padding-left: 10px;
  font-weight: 520;
}
.line2 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  list-style:none;

}
#icons2{
  color:#45bd62;
}
#icons3{
  color:#f7b928;
}
#icons2,#icons3{
  padding-right: 5px;
  font-size: 22px;
}
.line2 ul li p{
  color:#b0b3b8;
  font-family: arial;
  font-weight: 700;

}
.line2 ul li {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.line2 ul li:hover{
  background-color: #3a3b3c;
  border-radius: 10px;
}

.fcb_post{
  background-color: #242526;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border-radius: 10px;
}

.pt1 img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border:3px solid #2e89ff;
  margin-right: 8px;
}
.pt1 .time h4{
  font-family: arial;
  color: #e4e6eb;
}
.time{
  display: flex;
  flex-direction: column;
}
.time h5,h4{
  padding-top: 4px;
  color:#b0b3b8;
  font-family: arial;
  font-weight: 350;
}
.pt1{
  display: flex;
  align-items: center;


}

#more{
  color: #b0b3b8;

}

.bar_nb1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg p{
  font-size: 14px;
  font-family: arial;
  padding-top: 15px;
  color: #e4e6eb;
}
#tag{
  color: blue;
}


.post_pic img{
  width: 570px;
  height: 300px;
  display: flex;
padding-top: 10px;
}

.navbar{
  position: relative;
  top: 0
}
